@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Rampart+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: 'Playfair Display', serif;
}

body .headtext {
  text-align: center;
  font-size: 3.2em;
  text-transform: uppercase;
  word-wrap: break-word;
  margin-top: 2%;
  font-family: 'Rampart One', cursive;
}

body .choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .choose .choose-opt {
  margin: 1em 1em 0;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 3em;
  -webkit-transition: 150ms;
  transition: 150ms;
}

body .choose .choose-opt:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

body .score {
  margin-top: 1em;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  font-size: 2.5em;
}

body .score .bug-fix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .score .score-result {
  font-size: 50%;
  margin-left: 0.2em;
  color: #333;
}

body .score .score-select {
  opacity: 0.5;
}

body .score .score-select.winner {
  opacity: 1;
  font-size: 150%;
}
